bs4==0.0.1
emoji==0.5.2
flickrapi==2.4.0
gensim==3.8.0
geopandas==0.5.1
h5py==2.9.0
imageio==2.5.0
inflect==2.1.0
internetarchive==1.8.5
jupyter==1.0.0
jupyterlab
keras==2.2.4
librosa==0.7.0
matplotlib==3.1.1
mwparserfromhell==0.5.4
nltk==3.4.4
Pillow
plyvel==1.1.0
psycopg2-binary==2.8.3
pyyaml==5.1.1
sklearn==0.0
spotipy==2.4.4
svglib==0.9.2
tensorflow-gpu==1.14
tqdm==4.50
twitter==1.18.0
